<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var(--wp--custom--layout--section-padding)","bottom":"var(--wp--custom--layout--section-padding)","left":"var(--wp--custom--layout--content-padding)","right":"var(--wp--custom--layout--content-padding)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--custom--layout--section-padding);padding-right:var(--wp--custom--layout--content-padding);padding-bottom:var(--wp--custom--layout--section-padding);padding-left:var(--wp--custom--layout--content-padding)">
  <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"1.2rem"}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:paragraph {"textColor":"azul-principal","fontSize":"x-small","style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.08em"}}} -->
    <p class="has-azul-principal-color has-text-color has-x-small-font-size" style="letter-spacing:0.08em;text-transform:uppercase">Música · Ensayar</p>
    <!-- /wp:paragraph -->
    <!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
