<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem","left":"min(6%, 2rem)","right":"min(6%, 2rem)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:3rem;padding-right:min(6%, 2rem);padding-bottom:3rem;padding-left:min(6%, 2rem)">
  <!-- wp:query-title {"type":"search"} /-->
  <!-- wp:search {"label":"Buscar","showLabel":false,"buttonText":"Buscar","buttonUseIcon":true} /-->
  <!-- wp:query {"query":{"inherit":true}} -->
  <div class="wp-block-query">
    <!-- wp:post-template -->
    <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"2rem"}},"border":{"bottom":{"color":"#cbd5e1","width":"1px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="border-bottom-color:#cbd5e1;border-bottom-width:1px;padding-bottom:2rem">
      <!-- wp:post-title {"isLink":true} /-->
      <!-- wp:post-excerpt {"moreText":"Leer más"} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
    <!-- wp:query-no-results -->
    <!-- wp:paragraph -->
    <p>No se encontraron resultados.</p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
