<!-- wp:template-part {"slug":"header-musica-hijas","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"pd-presskit pd-presskit--open pd-editorial-shell pd-editorial-shell--single pd-editorial-shell--music","style":{"spacing":{"padding":{"top":"var(--wp--custom--layout--section-padding)","bottom":"var(--wp--custom--layout--section-padding)","left":"var(--wp--custom--layout--content-padding)","right":"var(--wp--custom--layout--content-padding)"},"blockGap":"var:preset|spacing|55"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group pd-presskit pd-presskit--open pd-editorial-shell pd-editorial-shell--single pd-editorial-shell--music" style="padding-top:var(--wp--custom--layout--section-padding);padding-right:var(--wp--custom--layout--content-padding);padding-bottom:var(--wp--custom--layout--section-padding);padding-left:var(--wp--custom--layout--content-padding)">
  <!-- wp:group {"align":"wide","className":"pd-presskit__surface pd-presskit__surface--hero pd-editorial-hero pd-editorial-hero--single","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide pd-presskit__surface pd-presskit__surface--hero pd-editorial-hero pd-editorial-hero--single">
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
